<%- include('header') %>
  <% var ifEdit = false; %>
  <% if (locals.bookReview) { %>
    <% ifEdit = true; %>
  <% } %>
  <link rel="stylesheet" href="/css/addBook.css">
    
  <div class="form-wrapper">
    <form action="/user/<%= userID %>/submitBook" method="post" class="book-form" id="theForm">
      <label>
        Book Title*
        <input type="text" name="title" required id="bookTitle"
        value="<%= ifEdit? locals.bookReview.title : "" %>">
      </label>

      <label>
        Author
        <input type="text" name="author"
        value="<%= ifEdit? locals.bookReview.author : "" %>">
      </label>

      <label>
        Book ID 
        <div class="id-options">
          
          <label><input type="radio" name="idtype" value="isbn" id="radio-isbn"> ISBN</label>
          <label><input type="radio" name="idtype" value="oclc" id="radio-oclc"> OCLC</label>
          <label><input type="radio" name="idtype" value="lccn" id="radio-lccn"> LCCN</label>
          <label><input type="radio" name="idtype" value="olid" id="radio-olid"> OLID</label>
          <a href="#" id="clear-radio" style="display:none; margin-left:10px;">Clear</a>
        </div>
        <input type="text" style="display:none;" name="id" id="bookIdNum">
        <p id="id-error" style="color:red; display:none;">An ID must be filled when a type is selected</p>
      </label>

      <label>
        Rating
        <div class="stars" id="rating">
          <span data-value="1"></span>
          <span data-value="2"></span>
          <span data-value="3"></span>
          <span data-value="4"></span>
          <span data-value="5"></span>
        </div>
        <input type="hidden" name="rating" id="rating-value">
      </label>

      <label>
        Tag (Format: #tag1 #tag2 ...)
        <input type="text" id="tag-input" name="tags" placeholder="#tag"
        value="<%= ifEdit? locals.bookReview.tags : "" %>">
        <p id="tag-error" style="color:red; display:none;">Tags must be in this format: #tag1 #tag2 and cannot contain symbols other than - and _</p>
      </label>
      <!-- <input type="hidden" name="tags" id="tags-hidden"> -->
      


      <label>
        Notes*
        <textarea name="notes" placeholder="Share what you think with the world" required
        maxlength="500" minlength="15" id="notes-textarea"></textarea>
      </label>
      <div>
        <div style="display: inline-block;">
          <a href="javascript:;" id="reveal-add-cover" style="font-size: large;"><u>Add a cover</u></a>
        </div>
        <div id="add-cover" style="display: none;">
          <p style="font-size: small; margin: 0;">If you have entered Book ID, a cover may be automatically fetched for you. Still you can use your own image link.</p>
          <label style="font-size: small;">
            <input type="url" id="imgsrc" name="imgsrc" 
            value="<%= ifEdit? locals.bookReview.book_cover_src : "" %>">
          </label>
        </div>
      </div>
      <button type="submit" class="btn highlight" id="submitButton">Submit</button>
    </form>
  </div>
  <script>
    const ifEditBoolean = <%= ifEdit %>;
    
    if (ifEditBoolean) {
      // If this is the edit mode, then change the form's action.
      $("#theForm").attr("action","/user/" + <%= userID %> +"/editBook/" + <%= locals.bookId %>);
      
      const idType = <%- JSON.stringify(locals.bookReview.book_id_type) %>;
      $("#rating-value").val(<%= locals.bookReview.rating %>);
      $("#notes-textarea").val(<%- JSON.stringify(locals.bookReview.notes) %>);
      
      if (idType != null && idType != "") {
        $("#radio-" + idType).prop("checked", true);
        
        const idNum = <%- JSON.stringify(locals.bookReview.book_id_num) %>;
        $("#bookIdNum").val(idNum);
        $("#bookIdNum").show();
        $("#clear-radio").show();

      }

      // src img for cover
      const coverSrc = <%- JSON.stringify(locals.bookReview.book_cover_src) %>;
      if (coverSrc != null && coverSrc != "") {
        $("#imgsrc").val(coverSrc);
        $("#add-cover").css("display", "block");
      }
    }

  </script>
  <script>
  $(function() {
    const stars = $("#rating span");
    const ratingValue = $("#rating-value");

    // Used for edit mode when there may be ratingValue already.
    let currentRating = ratingValue.val()? ratingValue.val() : 0;

    highlightStars(currentRating);

    stars.on("mouseover", function() {
      highlightStars($(this).data("value"));
    });

    stars.on("click", function() {
      currentRating = $(this).data("value");
      ratingValue.val(currentRating); // save rating in hidden input
    });

    stars.on("mouseout", function() {
      highlightStars(currentRating); // reset to chosen rating
    });

    function highlightStars(value) {
      stars.each(function() {
        $(this).toggleClass("filled", $(this).data("value") <= value);
      });
    }

    const radios = $("input[name=idtype]");
    const clearLink = $("#clear-radio");
    const bookIdNumInput = $("#bookIdNum");
    let ifSelectBookIdType = false;

    // Show "Clear" when a radio is selected
    radios.on("change", function() {
      clearLink.show();
      ifSelectBookIdType = true;
      bookIdNumInput.show();
    });

    // Clear all radios when clicking "Clear"
    clearLink.on("click", function(e) {
      e.preventDefault();
      radios.prop("checked", false);
      clearLink.hide();
      bookIdNumInput.hide();
      ifSelectBookIdType = false;
    });

    // "Add a cover" relevant logic
    $("#reveal-add-cover").on("click", function() {
      const addCoverDisplayValue = $("#add-cover").css("display");
      if (addCoverDisplayValue == "none") {
        $("#add-cover").css("display", "block");
      }
    })

    // Validate data before submittion
    const submitButton = $("#submitButton");
    const idErrorMessage = $("#id-error");
    const bookTitle = $("#bookTitle");

    submitButton.on("click", function(e) {
      if (ifSelectBookIdType) {
        // If any book type is selected, check if the id is filled
        if (!bookIdNumInput.val()) {
          e.preventDefault();
          idErrorMessage.show();
        } else {
          idErrorMessage.hide();
        }
      } else {
        idErrorMessage.hide();
      }

      // Validate the tags' format
      const tagInput = $("#tag-input").val();
      const regex = /^#[A-Za-z0-9_-]+(?: #[A-Za-z0-9_-]+)*$/;
      if (tagInput) {
        if (!regex.test(tagInput)) {
          e.preventDefault();
          $("#tag-error").show();
        } else {
          $("#tag-error").hide();
        }
      } else {
        $("#tag-error").hide();
      }
    });
  });
  </script>
</body>
</html>